h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
}

.name-cell {
	max-width: 200px;
}

.mock-details span{
	display: block;
}

#overview-table th{
    vertical-align: top;
    text-align: center;
}

#legend{
    max-width: 400px;
    margin: 0 auto;
}

#legend td, #legend th{
    max-width: 200px;
    width: 200px
}