<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Thymeleaf Hello World Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

</head>
<body>

<!--navbar.-->
<th:block th:include="fragments/navbar::content"></th:block>

	<div class="container">

		<a class="btn btn-default" href="/overview/oca">OCA Mock Overview</a>

		<a class="btn btn-default" href="/overview/ocp">OCP Mock Overview</a>

		<a class="btn btn-default" href="/exam-dates">Exam Date Overview</a>

	</div>
	<!-- /.container -->

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>