<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Thymeleaf Hello World Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="../webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

</head>
<body>

<!--navbar.-->
<th:block th:include="fragments/navbar::content"></th:block>

	<div class="container">

		<h3><span class="" th:text="${certification}"></span> Overview</h3>

		<table class="table table-striped table-responsive">
			<thead>
				<tr>
					<th>Name</th>
					<th>Diagnostic Test (Mock1)</th>
					<th>Practice Test I (Mock2)</th>
					<th>Practice Test II (Mock3)</th>
					<th>Practice Test III (Mock4)</th>
					<th>Final Test (Mock5)</th>
				</tr>
			</thead>
			<tbody>
			<tr th:each="examinee : ${examineeList}">

				<td class="name-cell" th:text="${examinee.name}"></td>

				<th:block th:each="exam : ${examinee.mockExams}">
					<td th:class="'mock-details ' + ${exam.statusCssClass}">

						<th:block th:if="${exam.currentMockExam} != null" class="td-content">
							<!--<span  th:text="${exam.currentMockExam.whizlabExamName}"></span>-->
							<span th:text="'Date: ' + ${#dates.dayOfWeekName(exam.examDate)} + ' ' + ${#calendars.format(exam.examDate,'dd MMMM')}"></span>


							<th:block th:if="${certification} == ${T(edu.exam.manager.utils.CertificationEnum).OCA}">
								<span th:text="'a/c: ' + (${#strings.isEmpty(exam.accountAssigned)}?'':${exam.accountAssigned})"></span>
							</th:block>
						</th:block>
					</td>
				</th:block>
			</tr>
			</tbody>
		</table>


	</div>
	<!-- /.container -->

	<script type="text/javascript" src="../webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>